body {
  background-color: #eee; /* Diegote ;) */
  font-family: Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.italics-name {
  font-style: italic;
}

.form-container {
  width: 75vw;
  margin: 0 auto; /* center */
  display: flex; /* Applies flex display to the container */
  flex-direction: column;
}

.roster-preview,
.submit-btn,
.gifter-add-btn,
.gifter-input {
  border-radius: 0.5em;
  font-size: large;
}

ul {
  list-style-type: none;
}
