//<header class="App-header">
//  <img src="../assets/logo.png" class="App-logo" alt="logo" />
//  <h1>Pap&aacute; Noel secreto!</h1>
//  <p>
//    <small class="catch-phrase">
//      Same old <span class="italics-name">Secret Santa</span>, but
//      Latinamericanized!
//    </small>
//  </p>
//</header>
header(class='App-header')
  img(src="logo.png", alt="logo", class='App-logo')
  h1 Pap!{&aacute;} Noel secreto!
  p
    small(class='catch-phrase') Same old
      span(class='italics-name') Secret Santa
    , but Latinamericanized!
h2 Hello #{gifterEmail}!
      