<div class="form-container">
  <form #rosterForm="ngForm">
    <div class="form-row">
      <input type="text" name="gifterPerson" id="gifter-input-id" class="gifter-input"
        placeholder="Add people to the roster"
        [(ngModel)]="newGifter"
        #gifterInputId="ngModel"
        required>
      <button class="gifter-add-btn" id="gifter-add-btn-id" (click)="addGifter()"
        [disabled]="!gifterInputId.value">+</button>
    </div>
    <div class="form-row">
      <ul id="roster-ul">
        <li *ngFor="let gifter of gifters; index as i" class="roster-li">
          <span>{{gifter}}</span>
          <button (click)="removeGifter(i)" class="roster-remove-btn">-</button>
        </li>
      </ul>
    </div>
    <div class="form-row">
      <div class="submit-message submit-error-message" *ngIf="errorMessage"
        style="display: block;"
        (click)="onMessageDiscarded()">
        <span>{{errorMessage}}</span>
        <button type="button" class="close-submit-btn">×</button>
      </div>
      <div class="submit-message submit-congrats-message" *ngIf="congratsMessage" 
        style="display: block;"
        (click)="onMessageDiscarded()">
        <span>{{congratsMessage}}</span>
        <button type="button" class="close-submit-btn">×</button>
      </div>
    </div>
    <div class="form-row">
      <input type="submit" class="submit-btn" id="submit-btn-id" value="Generate!"
        (click)="onSubmit()"
        [disabled]="gifters.length < 3 || !submitButtonEnabled">
      <!-- <input type="reset" id="clear-roster" class="submit-btn" value="Clear"
        (click)="rosterForm.reset()"> -->
    </div>
  </form>
</div>
